@media(max-width: 1200px) {

}

@media(max-width: 1100px) {
	.header {
		&__left {
			width: 78%;
		}
		&__right {
			width: 22%;
		}
	}
}

@media(max-width: 992px) {
	// .header {
	// 	&__nav {
	// 		&-item {
	// 			margin-right: 25px;
	// 		}
	// 	}
	// }
	.intro {
		&__left {
			// margin-right: 30px;
			width: 50.4%;
		}
		&__right {
			height: 100%;
		}
		&__swiper {
			box-shadow: none;
		}
	}
	.our-service {
		&__head {
			width: 100%;
		}
	}
	.our-amenities {
		&__left {
			&-content {
				width: 60%;
			}
		}
		// &__right {
		// 	top: 50%;
		// 	transform: translateY(-50%);
		// }
	}
}

@media(max-width: 920px) {
	.header {
		&__nav {
			&-item {
				margin-right: 25px;
			}
		}
	}
}

@media(max-width: 850px) {
	.header {
		&__inner {
			display: block;
		}
		&__left, &__right {
			width: 100%;
		}
		// &__nav {
		// 	display: none;
		// }
		// &__burger {
		// 	display: block;
		// }
		&__right {
			display: none;
		}
	}
	.intro {
		&__items {
			width: 100%;
			margin: 0;
			padding: 0 17px;
		}
	}
}

@media(max-width: 768px) {
	.header {
		&__nav {
			&-item {
				margin-right: 25px;
			}
		}
	}
	.our-service {
		&__item {
			width: 50%;
		}
	}
	.our-amenities {
		&__left {
			padding: 54px 0 52px 40px;
		}
	}
}

@media(max-width: 660px) {
	.header {
		&__inner {
			padding: 26px 0;
		}
		&__nav {
			display: none;
		}
		&__burger {
			display: block;
		}
	}
	.intro {
		padding-top: 40px;
		padding-bottom: 0;
		&__inner {
			display: block;
		}
		&__left, &__right {
			width: 100%;
		}
		&__left {
			margin-bottom: 40px;
		}
		&__right {
			position: static;
			// background-color: $cyan;
		}
		&__swiper {
			background: #C4C4C4;
			box-shadow: -10px 20px 0px 0px #F7F8FA, 0px 10px 50px 0px rgba(0, 0, 0, 0.20);
		}
		&__text {
			max-width: none;
			margin-bottom: 22px;
		}
		&__btn {
			margin-bottom: 50px;
		}
	}
	.our-service {
		padding-top: 171px;
		transform: translateY(-102px);
		&__head {
			margin-bottom: 50px;
		}
	}
	.our-amenities {
		// transform: translateY(-373px);
		// transform: translateY(-475px);
		background: linear-gradient(0deg, transparent 62%, $cyan 38%);
		transform: translateY(-102px);
		&__inner {
			display: block;
		}
		&__left, &__right {
			width: 100%;
		}
		&__left {
			filter: none;
			padding: 54px 40px 52px;
			margin-bottom: 0;
			&-content {
				width: 100%;
			}
		}
		&__right {
			position: static;
		}
		&__img {
			width: 100%;
		}
	}
}

@media(max-width: 576px) {

}

@media(max-width: 480px) {
	.our-service {
		&__items {
			&-without-img {
				margin-bottom: 0;
				.our-service__item {
					padding-bottom: 22px;
					margin-bottom: 12px;
					border-bottom: 1px solid $gray2;
					&:last-child {
						padding-bottom: 0;
						border-bottom: none;
					}
				}
			}
		}
		&__item {
			width: 100%;
			max-width: none;
			margin-bottom: 52px;
			&:last-child {
				margin-bottom: 0;
			}
			&-img {
				width: 100%;
			}
		}
		&__line {
			margin: 22px 0 12px;
		}
	}
}

@media(max-width: 380px) {
	.section {
		&__text {
			margin-bottom: 22px;
		}
	}
	.header {
		&__left {
			margin-bottom: 20px;
		}
		&__right {
			display: block;
		}
		&__info {
			display: flex;
			align-items: start;
			justify-content: space-between;
			&-phone, &-email {
				padding-left: 19px;
			}
		}
	}
	// .intro {
	// 	&__text {
	// 		margin-bottom: 22px;
	// 	}
	// 	&__btn {
	// 		margin-bottom: 50px;
	// 	}
	// }
	.intro {
		&__swiper {
			box-shadow: -10px 20px 0px 0px #F7F8FA, 0px 10px 50px 0px rgba(0, 0, 0, 0.20);
		}
	}
	.our-service {
		padding: 62px 0 54px;
	}
	.our-amenities {
		&__left {
			padding: 54px 10px 52px;
		}
	}
}

@media(max-width: 340px) {
	.intro {
		&__btn {
			width: 100%;
		}
	}
}