$black: #263640;
$orange: #FF9326;
$white: #fff;
$gray: #929A9F;
$cyan: #0FC1C2;
$light-cyan: #DDFFFF;
$gray2: #78909C;
$red: #FF0000;

$rubik: 'Rubik', sans-serif;
$inter: 'Inter', sans-serif;
$roboto: 'Roboto', sans-serif;